 
 #li {
    list-style: none;        /* Supprime les puces par défaut */
    margin: 5px;
    padding: 5px;
    display: flex;           /* Les éléments seront sur la même ligne */
    justify-content: end; /* Centrer la liste horizontalement */
    background-color: #f0f0f0; /* Couleur de fond  */
     list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: x-large;
    box-shadow: 0 -2px  rgba(0,0,0,0.1); /* Ombre discrète*/
    gap: 20px;   /* Espace de 20px entre les <li> */
    text-transform: capitalize;    
    transition: background-color 0.3s; /* Transition sur la couleur de fond */

     
    



}
img {
    border: 2px solid #ccc;         /* Une bordure grise */
    border-radius: 10px;              /* Des coins arrondis */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5); /* Une ombre portée */
    width: 300px;                    /* Largeur fixe */
    height: auto;   
                     /* Hauteur proportionnelle */

  }
  
  body {
    font-family: 'Arial', sans-serif; /* Remplace 'Arial' par la police souhaitée */
    cursor:pointer;
  }
  
